<footer class="page-footer font-small bg-secondary pt-4" >
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center" >
                <h4 class="text-white" >Siga-me nas redes sociais!</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center" >
            <ul class="social-network" >
                <li>
                    <a href="https://www.facebook.com/GabrielReisDuarte/" target="_blank" class="icoFacebook"> <i class="fab fa-facebook-square"></i></a>
                </li>

                <li>
                    <a href="https://www.instagram.com/gaaduartee/" target="_blank" class="icoInstagram"> <i class="fab fa-instagram-square"></i></a>
                </li>

                <li>
                    <a href="https://github.com/xlDuarte" target="_blank" class="icoGithub"> <i class="fab fa-github-square"></i></a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/gabrielrduarte/" target="_blank" class="icoLinkedin"> <i class="fab fa-linkedin"></i></a>
                </li>

            </ul>
        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-3" >
        <span class="text-light" >© 2022 Copyright: </span>
        <a class="text-light" target="_blank" href="https://brazil.generation.org/">brasil.generation.org</a>

    </div>

</footer>
